<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.leo.mybatis3.classMapper"> 
	<!-- 内连接查询 -->
	<resultMap id="classMap" type="Classes">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" javaType="Teacher">
			<id property="id" column="t_id"/>
			<result property="name" column="t_name" />
		</association>
	</resultMap>
	
	<select id="getClassesById" parameterType="int" resultMap="classMap">
		SELECT * FROM class a INNER JOIN teacher b ON a.`teacher_id`=b.`t_id` 
		WHERE a.`c_id`=#{id}
	</select>
	
	<!-- 查询两次 
		SELECT * FROM class WHERE c_id=1
		SELECT * FROM teacher WHERE t_id=1
	-->
	<select id="getClassById" parameterType="int" resultMap="classResultMap">
		SELECT * FROM class WHERE c_id=#{id}
	</select>
	<select id="getTeacherById" parameterType="int" resultType="Teacher">
		SELECT t_id id,t_name `name` FROM teacher WHERE t_id=#{id}
	</select>
	<resultMap type="Classes" id="classResultMap">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" column="teacher_id" select="getTeacherById">
			
		</association>
	</resultMap>
</mapper>